{{#>layout}}
    {{#*inline "content"}}
        <form action="search" method="get">
            <input type="text" name="keyword">
            <input type="submit">
        </form>
    {{/inline}}
{{/layout}}