<head>
    <title>
        {{channelName}} - sorvyt
    </title>
</head>

{{#>layout}}
    {{#*inline "content"}}
        {{#each videos}}
            <iframe src="https://www.youtube.com/embed/{{videoId}}"></iframe>
        {{/each}}
    {{/inline}}
{{/layout}}