<head>
    <title>
        {{keyword}} - sotvyt
    </title>
</head>

{{#>layout}}
    {{#*inline "content"}}
        {{#each channelInfo}}
            <a href="/result?channelId={{channelId}}&order=date"
                <img src="{{channelProfile}}">
                <h3>{{channelName}}</h3>
            </a>
        {{/each}}
    {{/inline}}
{{/layout}}