<head>
    <title>
        {{ keyword }} - sotvyt
    </title>
</head>

{{#>layout}}
    {{#*inline "content"}}
        <ul>
            {{#each channelInfo}}
                <li>
                    <img src="{{channelProfile}}">
                    <h3>{{channelName}}</h3>
                </li>
            {{/each}}
        </ul>
    {{/inline}}
{{/layout}}