<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sorvyt</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9591235564831625"
        crossorigin="anonymous">
    </script>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
            text-decoration: none;
        }
        header {
            width: 100%;
            height: 88px;
            background-color: #262223;
            user-select: none;
        }
        header > div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        header > div > a {
            font-size: 30pt;
            color: #DDC6B6;
            padding: 2%;
        }
        footer {
            height: 60px;
            bottom: 0;
            width: 100%;
            background-color: #262223;
        }
        footer > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        footer > div > p {
            margin: 12px;
        }
        footer > div > p > span {
            color: #DDC6B6
        }
        body {
            margin: 0;
            background-color: #DDC6B6;
        }
        .main {
            display: flex;
            justify-content: space-between;
            min-height: calc(100vh - 150px);
        }
        .ad {
            width: 200px;
            height: 200px;
            margin: 20px;
        }
        @media (max-width: 768px) {
            .main {
                flex-direction: column;
                align-items: center;
            }
            .ad {
                margin: 10px;
            }
        }
    </style>
</head>
<body>
    <nav>
        <header role="navigation">
            <div>
                <a href="/">sorvyt</a>
            </div>
        </header>
    </nav>

    <div class="main">
        <div class="ad">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9591235564831625"
                crossorigin="anonymous">
            </script>
        </div>
        {{>main}}
        <div class="ad">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9591235564831625"
                crossorigin="anonymous">
            </script>
        </div>
    </div>

    <footer>
        <div>
            <nav>
                <a href="https://github.com/WonSign/sorvyt" target="_blank"> <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Repository" height="41" width="41"> </a>
                <a href="https://www.buymeacoffee.com/WonSign" target="_blank"> <img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee" height="41" width="174"> </a>
            </nav>
            <br>
            <p>
                <span>E-mail: kws050820@gmail.com</span>
                <br>
                <span>© 2023. WonSign All rights Reserved.</span>
            </p>
        </div>
    </footer>
</body>
</html>