<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'nonce-{{nonce}}';">
    <title>{{#if title}}{{title}}{{else}}sorvyt{{/if}}</title>
</head>
<body>
    <nav>
        <div>
            <a href="/">Home</a>
        </div>
    </nav>

    <div class="content">
        {{>content}}
    </div>
</body>
</html>